.little-btn{
    --bs-btn-padding-y: 0; 
    --bs-btn-padding-x: 0.3rem; 
    --bs-btn-font-size: 0.5rem;
}
.caretBtn {
    border: 1px solid #BCB3B3;
    border-radius: 3px;
    background-color: inherit;
    padding: 0;
    font-size: 0;
    cursor: pointer;
}

.caretBtn:hover {
    background-color: #e7e7e7;
}


.inform-modal .modal-dialog {

	width:30rem;
}
.inform-modal .modal-content {

	background-color:#D1D2D1;
}
.inform-modal .modal-header {

	border-bottom:0;
}
.inform-modal .modal-body {
	
	min-height : 5rem;
}
.inform-modal .modal-footer {

	border-top:0;
}